.boletin-container {
  width: 600px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
  font-family: Arial, sans-serif;
}

.boletin-container .header {
  background-color: #f1c40f;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boletin-container h2 {
  text-align: center;
  margin: 20px 0 10px;
}

th {
  border: 1px solid #ccc;
  padding: 5px;
}

td {
  border: 1px solid #ccc;
  padding: 8px;
  height: 50px;
  vertical-align: middle;
}
